* {
border: none;
border-radius: 0;
font-family: "FiraCode Nerd Font";
/*font-weight: bold;*/
font-size: 12px;
min-height: 0;
}

window#waybar {
background: transparent;
color: #C099FF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

tooltip {
background: #1e1e2e;
border-radius: 8px;
border-width: 1px;
border-style: solid;
border-color: #11111b;
}

#workspaces button {
padding: 5px;
/*color: #313244;*/
margin-right: 5px;
color: #383a4b;
transition: color 0.3s, background 0.3s;
}

#workspaces button.active {
color: #a6adc8;
}

#workspaces button.focused {
color: #a6adc8;
background: #eba0ac;
border-radius: 10px;
}

#workspaces button.urgent {
color: #11111b;
background: #a6e3a1;
border-radius: 10px;
}

#workspaces button:hover {
background: #11111b;
color: #cdd6f4;
border-radius: 10px;
}

#custom-power_profile,
#custom-spotify,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#language,
#cpu,
#memory,
#disk,
#backlight {
background: #1e1e2e;
opacity: 0.8;
padding: 0px 8px;
margin: 3px 0px;
margin-top: 6px;
border: 1px solid #181825;
}

#temperature {
border-radius: 8px 0px 0px 8px;
}

#temperature.critical {
color: #dc143c;
}

#backlight {
border-radius: 10px 0px 0px 10px;
}

#cpu {
color: #8be9fd;
border-radius: 8px 0px 0px 8px;
border-left: 0px;
border-right: 0px;
}

#memory {
color: #ffb86c;
border-radius: 0px 10px 10px 0px;
margin-right: 10px
}

#disk {
color: #50fa7b;
}

#tray {
border-radius: 8px 8px 8px 8px;
margin-right: 8px;
}

#workspaces {
background: #1e1e2e;
border-radius: 10px;
margin-left: 10px;
padding-right: 0px;
padding-left: 5px;
}

#language {
color: #ffffff;
border-radius: 0px 10px 10px 0px;
}

#custom-power_profile {
color: #a6e3a1;
border-left: 0px;
border-right: 0px;
}

#custom-spotify {
border-radius: 10px 10px 10px 10px;
margin-left: 10px;
color: #1DB954;
}

#window {
border-radius: 10px;
margin-left: 60px;
margin-right: 60px;
}

#clock {
color: #fab387;
border-radius: 8px 0px 0px 8px;
margin-left: 8px;
border-right: 0px;
}

#network {
color: #f9e2af;
border-radius: 10px 0px 0px 10px;
border-left: 0px;
border-right: 0px;
}

#bluetooth {
color: #89b4fa;
border-radius: 0px 10px 10px 0px;
margin-right: 10px
}

#pulseaudio {
color: #89b4fa;
border-left: 0px;
border-right: 0px;
}

#pulseaudio.microphone {
color: #cba6f7;
border-left: 0px;
border-right: 0px;
border-radius: 0px 10px 10px 0px;
margin-right: 10px;
}

#battery {
color: #a6e3a1;
border-radius: 0px 8px 8px 0px;
margin-right: 8px;
border-left: 0px;
}

#battery.critical:not(.charging) {
background-color: #F53C3C;
color: #EEEEEE;
animation-name: blink;
animation-duration: 0.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
}

/* Warning state - Yellow */
#battery.warning:not(.charging) {
background-color: #FFCC00;
color: #000000;
animation-name: flash;
animation-duration: 0.5s;
animation-iteration-count: infinite;
}

#custom-weather {
border-radius: 0px 10px 10px 0px;
border-right: 0px;
margin-left: 0px;
}

/* Flash animation */
@keyframes flash {
0% { opacity: 1; }
50% { opacity: 0; }
100% { opacity: 1; }
}
